@use '../../styles/style.scss' as *;

.wrapper {
  padding-top: 42px;
  @include for-tablet {
    padding-top: 48px;
  }
  @include for-phone {
    padding-top: 20px;
  }
}

.info {
  display: flex;
  padding-bottom: 42px;
  @include for-tablet {
    display: block;
    padding-bottom: 52px;
  }
  @include for-phone {
    padding-bottom: 42px;
  }
}

.img_wrapper {
  background-color: $grey-black-5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 445px;
  height: 593px;
  min-width: 445px;
  border: 1px solid $grey-black-40;
  border-radius: 10px;
  margin-right: 30px;
  @include for-tablet {
    float: left;
    width: 136px;
    height: 198px;
    min-width: 136px;
    border-radius: 3px;
    margin-right: 32px;
  }
  @include for-phone {
    float: none;
    height: 260px;
    width: 188px;
    min-width: 188px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 16.44px;
  }
}

.cover {
  max-width: 100%;
}

.main_info {
  padding-bottom: 62px;
  @include for-tablet {
    padding-bottom: 48px;
  }
  @include for-phone {
    padding-bottom: 42px;
  }
}

.title {
  @include font-title-xxl;
  padding-bottom: 24px;
  @include for-tablet {
    @include font-title-xl;
    padding-bottom: 32px;
  }
  @include for-phone {
    @include font-title-l;
    padding-bottom: 8px;
  }
}

.subtitle {
  color: $grey-black-40;
  @include font-title-l;
  padding-bottom: 32px;
  @include for-tablet {
    @include font-title-m;
  }
  @include for-phone {
    @include font-text-subtitle-m;
    padding-bottom: 42px;
  }
}

.button {
  height: 52px;
  width: 350px;
  border-radius: 30px;
  @include font-text-bold;
  letter-spacing: 0.2px;
  @include for-tablet {
    width: 306px;
  }
  @include for-phone {
    @include font-button;
    margin: 0 auto;
    height: 40px;
    width: 288px;
  }
}

.description {
  &__title {
    @include font-title-l;
    padding-bottom: 32px;
    @include for-tablet {
      @include font-text-bold;
    }
    @include for-phone {
      @include font-title-l;
      padding-bottom: 16px;
    }
  }

  &__p {
    @include font-text-400-l;
    padding-bottom: 24px;
    &:last-child {
      padding-bottom: 0;
    }
    @include for-tablet {
    }
    @include for-phone {
      @include font-text-subtitle-m;
      padding-bottom: 0;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.rating {
  gap: 11px;
}

.button_review {
  margin-top: 42px;
  @include font-text-bold;
  letter-spacing: 0.2px;
  width: 350px;
  height: 52px;
  @include for-tablet {
    width: 100%;
  }
  @include for-phone {
    margin-top: 20px;
    @include font-button;
    height: 40px;
  }
}

.reviews {
  padding-bottom: 0;
}
