@use '../../styles/style.scss' as *;

.backdrop {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    @include for-tablet {
      width: 28%;
    }
    @include for-phone {
      width: 32%;
    }
  }
}
