@use '../../styles/style.scss' as *;

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 68.75px;
  height: 68.75px;
  @include for-tablet {
    width: 44px;
    height: 44px;
  }
  @include for-phone {
    width: 22px;
    height: 22px;
  }
}
