@use '../../styles/style.scss' as *;

.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  cursor: pointer;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include font-button;
}

.filtered {
  img {
    filter: invert(91%) sepia(6%) saturate(8%) hue-rotate(314deg) brightness(74%) contrast(85%);
  }
}

.bordered {
  border: 1px solid $grey-black-20;
}

.disabled {
  cursor: default;
}

.shadowed {
  box-shadow: $shadow;
}

.rounded {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  @include for-phone {
    width: 32px;
    height: 32px;
  }
}

.contained {
  background: $gradient-active;
  color: $main-white;
  img {
    filter: invert(99%) sepia(69%) saturate(53%) hue-rotate(249deg) brightness(116%) contrast(100%);
  }
}
