@use '../../../../styles/style.scss' as *;

.hint {
  @include font-text-subtitle-s;

  padding: 2px 12px;
  display: inline-block;
}
.inactive {
  color: $grey-black-40;
}
.active {
  color: rgb(244, 44, 79);
}
