@use '../../../styles/style.scss' as *;

.wrapper {
}

.text {
  @include font-text-400-s;
  color: $grey-black-70;
  margin-right: 16px;
}

.link {
  @include font-button;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
